name: vonage_video_call
description: Vonage 1 to 1 video call plugin
version: 1.1.1
homepage: https://github.com/cacianokroth

environment:
  sdk: '>=3.0.5 <4.0.0'
  flutter: ">=3.3.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0
  pigeon: ^11.0.1

flutter:
  plugin:
    platforms:
      android:
        package: com.cacianokroth.vonage_video_call
        pluginClass: VonageVideoCallPlugin
      ios:
        pluginClass: VonageVideoCallPlugin